body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
  }

  h1 {
    color: #333;
  }

  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  label {
    display: block;
    margin-bottom: 8px;
    color: #333;
  }

  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }

  button {
    background-color: #4caf50;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  button:hover {
    background-color: #45a049;
  }

  .productos-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .productos-table th, .productos-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .productos-table th {
    background-color: #f2f2f2;
  }
  
  .btn-editar, .btn-eliminar {
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
  }
  /* Estilos para el select */
select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Estilos para las opciones del select */
select option {
  background-color: #fff;
  color: #333;
}

/* Estilo para el texto de marcador de posición */
select option[disabled] {
  color: #999;
}

.plus{
  background-color: #3798bc; /* Puedes cambiar el color a tu preferencia */
  color: white; /* Cambia el color del texto si es necesario */
  border: none;
  padding: 10px 15px; /* Ajusta el relleno según sea necesario */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}
  