<!-- app.component.html -->

<div class="list-group">

  <a (click)="navigateToTickets()" class="list-group-item list-group-item-action mb-3">
    <div class="card text-white bg-primary">
      <div class="card-body">
        <h5 class="card-title">Tickets</h5>
        <p class="card-text">Gestión de Tickets</p>
      </div>
    </div>
  </a>

  <a class="list-group-item list-group-item-action mb-3">
    <div class="card text-white bg-primary">
      <div class="card-body">
        <h5 class="card-title">Reportes</h5>
        <p class="card-text">Generación de Reportes</p>
      </div>
    </div>
  </a>

  <a (click)="navigateToArticulo()" class="list-group-item list-group-item-action">
    <div class="card text-white bg-primary">
      <div class="card-body">
        <h5 class="card-title">Catálogos</h5>
        <p class="card-text">Gestión de Catálogos</p>
      </div>
    </div>
  </a>

</div>
